{
  "env": {
    "browser": true,
    "node": false,
    "jest": true
  },
  "plugins": [ "import"],
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "globals": {
    "module": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/forbid-prop-types": [false, { "forbid": ["array","object"]}]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "babel-module": {
        "root": ["./src"],
        "alias": {
          "App": "./src/App",
          "Modules": "./src/App/Modules",
          "Common": "./src/App/Common",
          "Router": "./src/App/Router",
          "Elements": "./src/App/Elements",
          "Routes": "./src/App/Routes",
          "Constants": "./src/Constants",
          "Services": "./src/Services",
          "Store": "./src/Store",
          "Styles": "./src/Styles",
          "Assets": "./src/Assets"
        }
      }
    }
  }
}
