.applayout {
  &--content {
    background: "#fff";
    padding: 24;
    min-height: 90vh;
  }
  .logo {
    height: 31px;
    float: left;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-bottom:0px;
  }
}
