@import '../variables/colors';
@import '../variables/variables';

$primary: $blue;
$primary-lite: $blue-light;
$secondary: $red;
$secondary-lite: $red-light;
$white: $white;
$gray: $gray;
$accent: $gray-light;
$primary-black: $black;
$theme-blue: $skyblue;
$color-primary: pink;
$color-primary-dark: red;
