// Author hannad rehman .
// Note : DONOT CHANGE ANY COLOR AS THEY ARE USED ACROSS THE APPLICATION.
// Primary colors (normal)
$red:#F44336;
$blue:#3F51B5;
$gray:#C7C7C7;
$black:#333333;
$white: #FFFFFF;
$megenta:#9C27B0;
$purple:#673ab7;
$skyblue:#569EDB;
$skybluegreen:#00bcd4;
$darkgreen:#009688;
$lightgreen:#4caf50;
$orange:#ff5722;
$silver:#607d8b;
$brown:#795548;
$yellow:#ffeb3b;

// Primary colors (dark)
$red-dark:#BA000d;
$blue-dark:#002984;
$black-dark:#000000;
$megenta-dark:#7b1fa2;
$purple-dark:#512da8;
$skyblue-dark:#1976d2;
$skybluegreen-dark:#0097a7;
$darkgreen-dark:#00796b;
$lightgreen-dark:#388e3c;
$orange-dark:#e64a19;
$silver-dark:#455a64;
$brown-dark:#5d4037;
$yellow-dark:#e0cf34;
// primary colors light
$red-light: #ff7961;
$blue-light: #757de8;
$gray-light:#F6F6F6;
$gray-thin-light: #d8d8d8;

