@import './display/flex';
@import './display/font';
@import './display/margin';
@import './display/padding';

.app-wrapper {
  position: relative;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0px -2px 0px 0px $accent;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.ant-layout-header{
  height: 65px !important;
}
